<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table style="width:100%">
      <tr>
        <th>순 위</th>
        <th>키워드</th>
      </tr>
      <% for(let j = 0; j< 20; j++){%>
      <tr>
        <td><center><%= data[j][0] %></center></td>
        <td><center><%= data[j][1] %></center></td>
      </tr>
      <%}%>
    </table>
  </body>
</html>
